# App start option
application:
  host: "0.0.0.0" # listen host
  port: 8000 # listen port
  readTimeout: 60s # http read timeout, default: 120s
  writeTimeout: 60s # http write timeout, default: 120s
# Forwarding client
client:
  timeout: 30s # Forwarding timeout. default: 30s
# log option
log:
  dir: "./log" # log dir
  rotate: # log rotate
    # maxSize and maxBackups = 0, File permanent saving
    maxSize: 0 # MB, single file max size
    maxBackups: 0 # file max backups
# webhooks
## template docs: https://pkg.go.dev/text/template
webhooks:
  dingtalk-from-sentry-aimfulbbmldb: # webhook unique name
    url: "https://oapi.dingtalk.com/robot/send?access_token=4a4e9c942b8b6032b0c2dd54d373a720ad2bb8fac18b1bdb32a43a119b6655d9" # url, eg: https://oapi.dingtalk.com/robot/send?access_token=xxx
    method: POST
    contentType: application/json # default: application/json
    #    query: # add query param
    #      - name: "ipByQuery"
    #        value: "{{ .ip_by_query }}"
    #      - name: "ipByBody"
    #        value: "{{ .ip_by_body }}"
    #    header: # add header
    #      - name: "ipByQuery"
    #        value: "{{ .ip_by_query }}" # vars.ip_by_query
    #      - name: "ipByBody"
    #        value: "{{ .ip_by_body }}"
    # varFrom: Query, Body, Header, Value. default: Value
    vars: # not support case sensitive keys: docs: https://github.com/spf13/viper#does-viper-support-case-sensitive-keys
      project:
        key: "project"
        from: "Body"
      event:
        key: "event"
        from: "Body"
    body:
      json: '{"msgtype":"text","text":{"content":{"json": {{ .project | toJson }} }}}'
      form: {}

